# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/
.next/
**/.next/

# NestJS specific
/tmp
.temp
.tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# macOS
.DS_Store
.ds_store
**/.DS_Store